<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="surveyDao" class="com.kate.annotation.dao.SurveyMappingCVS">
    </bean>
    <bean id="surveyService" class="com.kate.annotation.service.SurveyServiceImpl">
        <constructor-arg name="dao" ref="surveyDao"/>
    </bean>
</beans>
